@font-face {
    font-family: Gotham;
    src: url(fonts/GOTHAM-MEDIUM.TTF) format('truetype');
}
@font-face {
    font-family: Gotham;
    src: url(fonts/GOTHAM-BOLD.ttf) format('truetype');
    font-weight: bold;
}

* {
    padding:0;
    margin:0;
}

body {
    width: 1600px;
    height: 4982px;
    margin: 0 auto;
}

.header {
    /* Style for "Rectangle" */
    height: 915px;
    background: rgba(161, 0, 255,0.5) url(images/boots.png);
    background-blend-mode: hard-light;
}

.header-nav {
    height: 68px;
    padding-top:74px;
}

.header-logo {
    background: url(images/logo.svg) no-repeat 100% 100%;
    float: left;
    width: 68px;
    height: 68px;
    padding-left: 204px;
}

.header-nav-menu {
    float: left;
    padding-left: 640px;
    height:inherit;
}



.header-main-menu {
    float: left;
    list-style: none;
    padding-top:22px;
}

.header-main-menu li {
    display: inline;
    margin-right: 34px;
}

.header-main-menu  a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: Gotham, serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 29px;
}

.header-main-menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 10px solid #28c8c6;

}


.header-main-menu li:last-of-type {
    margin-right:26px;
}

.header-join-btn {
    float: left;
    display: inline;
    box-sizing: border-box;
    background: #a100ff url(images/arrow-right.svg) no-repeat 90px 50%;
    border-radius: 5px;
    margin-top:3px;
    line-height:52px;
    vertical-align: middle;
    font-family: Gotham, sans-serif;
    text-decoration: none;
    padding-left:35px;
    width:129px;
    font-size: 16px;
    color: #fff;
}

.header-article {
    clear: both;
    margin-left: 205px;
    margin-top:185px;
}
.header-article-caption {
    width: 512px;
    height: 154px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
}

.header-article-data {
    /* Style for "Lorem ipsu" */
    width: 520px;
    height: 48px;
    color: #ffffff;
    font-family: Gotham, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    padding-left: 3px;
    padding-top: 40px;

}
