@font-face {
    font-family: Gotham;
    src: url(fonts/GOTHAM-MEDIUM.TTF) format('truetype');
}
@font-face {
    font-family: Gotham;
    src: url(fonts/GOTHAM-BOLD.ttf) format('truetype');
    font-weight: bold;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

* {
    padding:0;
    margin:0;
}

body {
    width: 1600px;
    height: 4982px;
    margin: 0 auto;
}

.header {
    /* Style for "Rectangle" */
    height: 912px;
    background: url(images/boots.png),rgba(161, 0, 255,0.5);
    background-blend-mode: hard-light;
    position: relative;
    z-index: -10;
}

.header-nav {
    height: 68px;
    padding-top:74px;
}

.header-logo {
    background: url(images/logo.svg) no-repeat 100% 100%;
    float: left;
    width: 68px;
    height: 68px;
    padding-left: 204px;
}

.header-nav-menu {
    float: left;
    padding-left: 638px;
    height:inherit;
}



.header-main-menu {
    float: left;
    list-style: none;
    padding-top:21px;
}

.header-main-menu li {
    display: inline;
    margin-right: 27px;
}

.header-main-menu  a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: Gotham, serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 0 3px 26px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 3px solid rgba(40, 200, 198,0);

}

.header-main-menu  a:hover {
    border-bottom: 3px solid rgba(40, 200, 198,1);
}

.header-main-menu li:last-of-type {
    margin-right:24px;
}

.header-join-btn {
    float: left;
    display: inline;
    box-sizing: border-box;
    background: #a100ff url(images/arrow-right.svg) no-repeat 90px 50%;
    border-radius: 5px;
    margin-top:3px;
    line-height:52px;
    vertical-align: middle;
    font-family: Gotham, sans-serif;
    text-decoration: none;
    padding-left:35px;
    width:129px;
    font-size: 16px;
    color: #fff;
}

.header-article {
    clear: both;
    margin-left: 205px;
    margin-top:185px;
}

.header-article-caption {
    width: 512px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
}

.header-article-data {
    /* Style for "Lorem ipsu" */
    width: 513px;
    height: 48px;
    color: #ffffff;
    font-family: Gotham, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    padding-left: 3px;
    padding-top: 29px;
}

.header-subscribe-form {
    padding-left: 4px;
    padding-top: 24px;
}

.header-subscribe-form-element {
    margin-right:13px;
    height: 60px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 0.9);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding: 0 25px;
}

.header-subscribe-form-element option {
    color: rgba(51, 51, 51, 0.9);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.header-subscribe-form .i-select {
    width: 232px;
    background: url(images/arrow-down.svg) no-repeat 239px 52%,
                linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
}
.header-subscribe-form .i-text {
    width:218px;
    background: url(images/simple-arrow-right.svg) no-repeat 234px 51%,
    linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
}

.header-subscribe-form input[type="submit"] {
    position: relative;
    width: 64px;
    height: 59px;
    margin-left: -1px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: #28c8c6 url(images/arrow-right.svg) no-repeat 50% 20px;
    color: transparent;

}

.latest-style {
    position: relative;
    width: inherit;
    height: 542px;
    background: url(images/ldesign.png) 0 10px;
    background-blend-mode: overlay;
}

.latest-style::before {
    content: '';
    position: absolute;
    top: -50px;
    left:   calc(50% - 58px);
    width: 114px;
    height: 57px;
    border-radius: 114px 114px 0 0;
    background: url(images/ldesign.png) 7px 10px;
    z-index: -1;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.icon-arrow-scroll-down {
    position: absolute;
    top: -10px;
    left: 782px;
    font-size:34px;
    margin: 0 auto;
    z-index: 99;
}

.icon-color1 {
    color: #96a5b4;
}

.latest-style-caption {
    color: #333b42;
    font-family: Gotham, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 111px;
}

.latest-style-text {
    width: 665px;
    height: 50px;
    margin: 26px auto;
    color: #74797e;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
}

.latest-style-image {
    position: absolute;
    bottom: 0;
    left:calc(50% - 213px);
    width: 423px;
    height: 240px;
    background: url("images/iphone-6.png") no-repeat;
}

.latest-style::after {
    content: '';
    position: absolute;
    bottom: -53px;
    left:   calc(50% - 58px);
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #28c8c6;
}

.features {
    position: relative;
    height: 777px;
    border-bottom: 1px solid #d8e0e8;
}

.features::after {
    content: '';
    position: absolute;
    bottom: -55px;
    left:   calc(50% - 58px);
    width: 112px;
    height: 53px;
    border-radius: 0 0 110px 110px;
    background-color: #fff;
    border: 1px solid #d8e0e8;
    border-top: 1px solid #fff;
    z-index: 1;
}

.features-caption {
    padding-top: 155px;
    text-align: center;
}

.features-caption-h3 {
    color: #333b42;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-caption-p {
    width: 670px;
    height: 50px;
    margin: 18px auto;
    color: #74797e;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.features-container {
    width: 1177px;
    margin: 57px auto;
}

.features-item {
    float: left;
    width: 277px;
    margin-right: 23px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 137px;
    background-color: #8500d2;
    border-radius: 50%;
    margin: 0 auto;
}

.features-item-icon1 {
    font-size: 50px;
}
.features-item-icon2 {
    font-size: 38px;
}
.features-item-icon3 {
    font-size: 42px;
}
.features-item-icon4 {
    font-size: 55px;
}

.features-item-caption {
    margin-top: 30px;
    text-align: center;
    color: #333b42;
    font-family: Gotham, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.features-item-article {
    margin-top: 20px;
    text-align: center;
    color: #74797e;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;

}

.icon-color2 {
    color: #fff;
}

.icon-color3 {
    color: #d8e0e8;
}

.design-guidlines {
    position: relative;
    height: 756px;
    background-color: #f6f9fa;
}

.design-guidlines .icon-arrow-scroll-down {
    top: -19px;
}

.guid-text {
    padding-top:131px;
    text-align: center;
}

.guid-text-caption {
    color: #333b42;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.guid-text-article {
    width: 905px;
    height: 50px;
    margin: 15px auto;
    color: #74797e;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.guid-menu {
    width: 568px;
    height: 56px;
    margin: 40px 506px 54px 524px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #28c8c6;
}

.guid-menu-item {
    color: #28c8c6;
    font-family: Gotham, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    flex-grow:1;
    text-align: center;
    line-height: 58px;
    transition-duration: 0.5s;
}

.guid-menu-item:hover {
    background-color: #28c8c6;
    color: #fff;
}

.guid-listing {
    width: 1181px;
    height: 276px;
    margin: 0 auto;
    display: flex;
}

.guid-listing-item {
    width: 382px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
}

.guid-listing-item:last-child {
    margin-right: 0;
}

.guid-listing-img {
    width: 380px;
    height: 204px;
    background-image: url(images/lising-image.png);
    z-index: 1;
}

.guid-listing-caption {
    position: absolute;
    width:inherit;
    height: 118px;
    border-radius: 10px;
    align-self:flex-end;
    background: #fff url("images/shape-right.png") no-repeat 326px 76px;
}
.guid-listing-caption h4 {
    padding-top:74px;
    padding-left: 102px;
    color: #333b42;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.push {
    height: 890px;
    background-image: url("images/push.png");
}

